<SetupData>
  <dataset>
    <entry>
      <string>MFilesFolder</string>
      <FieldValue>
        <rawValue class="string">./tests</rawValue>
        <type>string</type>
      </FieldValue>
    </entry>
    <entry>
      <string>Aspects</string>
      <FieldValue>
        <rawValue class="StringList">
          <stringList>
            <string>subfunctions.aspects</string>
          </stringList>
        </rawValue>
        <type>stringList</type>
      </FieldValue>
    </entry>
    <entry>
      <string>DeleteOutputFolderContents</string>
      <FieldValue>
        <rawValue class="string">true</rawValue>
        <type>bool</type>
      </FieldValue>
    </entry>
    <entry>
      <string>Inputs</string>
      <FieldValue>
        <rawValue class="StringList">
          <stringList>
            <string>3</string>
            <string>4</string>
          </stringList>
        </rawValue>
        <type>stringList</type>
      </FieldValue>
    </entry>
    <entry>
      <string>OutputFolder</string>
      <FieldValue>
        <rawValue class="string">./output</rawValue>
        <type>string</type>
      </FieldValue>
    </entry>
    <entry>
      <string>MFiles</string>
      <FieldValue>
        <rawValue class="StringList">
          <stringList>
            <string>Subfunctions/a.m</string>
            <string>Subfunctions/b.m</string>
          </stringList>
        </rawValue>
        <type>stringList</type>
      </FieldValue>
    </entry>
    <entry>
      <string>AspectsFolder</string>
      <FieldValue>
        <rawValue class="string">./auxi</rawValue>
        <type>string</type>
      </FieldValue>
    </entry>
  </dataset>
  <setupName>MatlabToC</setupName>
</SetupData>